html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Color oscuro con una opacidad del 50% */
    z-index: -1;
    /* Coloca el pseudo-elemento detrás del contenido */
}

body {
    background: transparent url(/bkg_image.webp) 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}